extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li
        a(href='/') Home
      li.active
        a(href='/applications') List All Applications
      li
        a(href='/newapp') New Job Application 
      li
        a(href='/inplay') Jobs in Play 
    h2= "the Application"
                        
  .application-show-edit            
     div.dateapplied
       div
                  -var day = application.Applied.getDate() + 1
                  -var m = application.Applied.getMonth() + 1
                  -var y = application.Applied.getFullYear()
                  -var prettydate = m + " / " + day + " / " + y
       div

       span.name=prettydate
       |&nbsp
     div.name
       | Company: 
       span.name=application.CompanyName
     div.position
       | Position:
       span.name=application.Position
     div.status
       | Status:
       span.name=application.Status
     div.source
       | Source:      
       span.name=application.Source
     div.Url
       | Url:
       span.name=application.Url
     div.Recruiter
             -if(application.Recruiter)
                div
                  | Recruiting Firm:
                  span.name=application.Recruiter.Firm
                div
                  | Recruiter Name:
                  span.name=application.Recruiter.Name
     div.phoneinterview
             -if(application.PhoneInterview)
               |Phone Interview
             -else
               div.action
                  form(action='/updatephonei/#{application._id}', method='post')
                    input(type='hidden', value=application._id.toString(), name='id')
                    input(type='hidden', value=PhoneInterview, name='X')
                    input(type='hidden', value=locals._csrf, name='_csrf')
                    input(type='submit', class='btn btn-success btn-xs task-done', value='Phone Interview')
     div.inpersoninterview
             -if(application.InPersonInterview)
               |In Person Interview
             -else
               div.action
                  form(action='/updateinperson/#{application._id}', method='post')
                    input(type='hidden', value=application._id.toString(), name='id')
                    input(type='hidden', value=InPersonInterview, name='X')
                    input(type='hidden', value=locals._csrf, name='_csrf')
                    input(type='submit', class='btn btn-success btn-xs task-done', value='In Person Interview')
     div.rejection
             -if(application.RejectionLetter)
               |Rejection Letter
             -else
               div.action
                  form(action='/updatereject/#{application._id}', method='post')
                    input(type='hidden', value=application._id.toString(), name='id')
                    input(type='hidden', value=RejectionLetter, name='X')
                    input(type='hidden', value=locals._csrf, name='_csrf')
                    input(type='submit', class='btn btn-success btn-xs task-done', value='Rejected')
     div.referred
             -if(application.ReferredBy)
              | Referred By: 
       span.name=application.ReferredBy
     div
             br
     div
     div.notes
       form.form-horizontal(action='/updatenote/#{application._id}', method='post')
        input(type='hidden', value=application._id.toString(), name='id')
        input(type='hidden', value=locals._csrf, name='_csrf')
        .form-group
          label.col-sm-2.control-label(for='desc') Notes
          .col-sm-10
            textarea.form-control#desc(rows="5", name="Notes", placeholder='Enter notes')=application.Notes
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type='submit') Save
     div.delete
        a(class='btn btn-danger btn-xs application-delete', data-application-id=application._id.toString(), data-csrf=locals._csrf) delete


